html {
  height: 100%;
  width: 100%;
  font-family: '8BIT WONDER', sans-serif;
  background: url("/images/8bitbackground.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1 {
  text-align: center;
  filter: brightness(100%);
}

#canvas {
  height: 500px;
  width: 500px;
  min-width: 500px;
  min-height: 500px;
  background-color: beige;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin: 20px;
  margin-bottom: 0px;
}

#canvas_subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: cnter;
}

#canvas_container {
  display: flex;
  width: 100%;
  min-width: 500px;
  min-height: 500px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.check {
  width: 100px;
  height: 30px;
  outline: 1px solid #1e5180;
  opacity: 1;
}

.option {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
  color: whitesmoke;
}

.box {
  box-sizing: border-box;
  width: 31.25px;
  height: 31.25px;
  border: solid 0.05px black;
  float: left;
}

input[type='range'] {
  overflow: hidden;
  width: 80px;
  background-color: #CCC;
}

input[type='range']::-webkit-slider-thumb {
  height: 25px;
  width: 25px;
  background: white;
  box-shadow: -80px 0 0 80px black;
}


.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100px;
  height: 25px;
  background-color: #CCC;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-right: 15px;
}

.slider:hover {
  opacity: 1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 25px;
  height: 25px;
  background: white;
  cursor: pointer; /* Cursor on hover */

}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #0f04aa;
  cursor: pointer; /* Cursor on hover */
}


/** Switch
 -------------------------------------*/

/* The switch - the box around the toggle */
.switch {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  width: 75px;
  height: 25px;
  opacity: 0.7;
}

.switch:hover {
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 75px;
  height: 25px;
  background-color: #CCC;
  -webkit-transition: .4s;
  transition: .4s;
}

/* Add white square (:before adds psuedoelement) */
.toggle:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .toggle {
  background-color: #2fc02f;
}

input:focus + .toggle {
  box-shadow: 0 0 1px #2fc02f;
}

input:checked + .toggle:before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
}


#size_text {
  color: white;
  font-weight: bold;
  display: flex;
  width: 500px;
  margin-top: 5px;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}