
html {
  font-family: '8BIT WONDER', sans-serif;
  background-image: url("/images/8bitbackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

h1 {
  text-align: center;
}

#canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  min-width: 500px;
  min-height: 500px;
  border: solid purple;
}

#canvas_container {
  display: flex;
  width: 100%;
  min-width: 500px;
  min-height: 500px;
  justify-content: center;
  align-items: center;
}

.check {
  width: 100px;
  height: 30px;
  outline: 1px solid #1e5180;
  opacity: 1;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  color: whitesmoke;
  padding-left: 10px;
  padding-right: 10px;
}

#options {
  box-shadow: inset 0 0 20px #913865, rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  padding: 5px;
}