
html {
  font-family: '8BIT WONDER', sans-serif;
  background-image: url("/images/8bitbackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

h1 {
  text-align: center;
}

#canvas {
  height: 500px;
  width: 500px;
  min-width: 500px;
  min-height: 500px;
  background-color: beige;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin: 20px;
}

#canvas_container {
  display: flex;
  width: 100%;
  min-width: 500px;
  min-height: 500px;
  justify-content: center;
  align-items: center;
}

.check {
  width: 100px;
  height: 30px;
  outline: 1px solid #1e5180;
  opacity: 1;
}

.option {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  color: whitesmoke;
  padding-left: 10px;
  padding-right: 10px;
}

#options {
  width: 100%;
  box-shadow: inset 0 0 20px #913865, rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  padding: 20px;
}

.box {
  box-sizing: border-box;
  width: 31.25px;
  height: 31.25px;
  border: solid 0.5px black;
  float: left;
}






/* Not sure what's happening here, need to deconstruct */
input[type='range'] {
  overflow: hidden;
  width: 80px;
  -webkit-appearance: none;
  background-color: #CCC;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 25px;
  width: 25px;
  background: white;
  box-shadow: -80px 0 0 80px #43e5f7;
}


.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100px; /* Full-width */
  height: 25px; /* Specified height */
  background-color: #CCC;
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;

}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: white;
  cursor: pointer; /* Cursor on hover */

}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #0f04aa;
  cursor: pointer; /* Cursor on hover */
}













/** Switch
 -------------------------------------*/

/* The switch - the box around the toggle */
.switch {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  width: 75px;
  height: 25px;
  opacity: 0.7;
}

.switch:hover {
  opacity: 1;
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 75px;
  height: 25px;
  background-color: #CCC;
  -webkit-transition: .4s;
  transition: .4s;
}

/* Add white square (:before adds psuedoelement) */
.toggle:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .toggle {
  background-color: #2fc02f;
}

input:focus + .toggle {
  box-shadow: 0 0 1px #2fc02f;
}

input:checked + .toggle:before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
}